@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission4.Models.MovieResponse

@*if movie is borrowed, make sure to get the movie back from borrower. Else, confirm that a movie has been submitted to the databse.*@
@if (Model.LentTo != null)
{
<h2>Don't forget to ask for "@Model.Title" back from @Model.LentTo once they finish watching!</h2>
}
else
{
<h2>"@Model.Title" submitted. Thank you, @Model.Director, for such a great film.</h2>
    
}
