@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@*make sure homepage has joel hilton title*@
<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Movie Collection</h1>


</div>
@*include pic of joel*@
<img class="text-center" src="~/img/JoelHiltonHeadshot.jpg" height="500" /><br />
